:root {
  --color0: black;
  --color1: white;
  --color2: #cfe0e8;
  --color3: #87bdd8;
  --color4: #d96459;
  --color5: darkblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0.5rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: var(--color0);
  height: 95vh;
  
}

.fa-plus {
  cursor: pointer;
}

.bold {
  font-weight: 900;
}

.cursive {
  font-style: italic;
  font-size: smaller;
  display: flex;
  text-align: justify;
}

.no-decoration {
  /* text-decoration: none; */
  color: black;
}

.no-line {
  text-decoration: none;
  color: black;

}

.no-decoration :active {
  color: var(--color3);
  cursor: pointer;
}

.no-decoration :visited {
  color: var(--color0)
}

.title {
  margin-top: 1em;
  font-size: 4em;
  font-weight: 500;
  font-family: 'Josefin Slab', serif;
  opacity: 0.6;
  color: var(--color3);
}

.title-name {
  font-weight: 900;
}

.photo {
  margin: 3em;
  max-width: 10em;
  text-align: center;
  border-radius: 100%;
  width: 35%;
  opacity: 0.7;
}

.photo:hover {
  opacity: 1;
}

.blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block a:link {
  text-decoration: none;
  color: var(--color0);
}

link {
  text-decoration: none;
  color: var(--color0);
}

.block a:visited {
  color: var(--color0);
}

.block {
  background-color: var(--color3);
  margin: 0.5em;
  padding: 1em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.5em;
  opacity: 0.7;
  height: 1em;
  width: 80%;
  border-radius: 10px;
}

@media only screen and (max-width: 450px) {
.title {
  font-size: 3em;
}

.block {
font-size: 1em;
padding: 2em;
}
}

.block:hover {
  opacity: 2;
  font-weight: 800;
  cursor: pointer;
}

.hospitality-section {
  background-color: var(--color3);
  border-radius: 20px;
  /* height: 5em; */
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: xx-large;
  /* position: absolute; */
  margin: 0.5em;
  position: relative;
  opacity: 0.8;
}

.hospitality-section:hover {
  opacity: 2;
  /* cursor: pointer; */
  /* font-weight: 600; */
}


.hospitality-section-title {
  position: absolute;
  top: 2px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: var(--color1);
}

.list {
  margin-top: 3em;
  font-size: 0.7em;
  display: inline-block;
  text-align: left;
  
}

ul {
  /* background-color: red; */
  position: relative;
  list-style-position: outside;
  /* list-style-type: none; */
}

li {
  margin: 10px;
}

.li-title {
/* font-size: larger; */
font-weight: 600;
list-style-type: none;
}

.margin-top-2 {
  margin-top: 2.5em;
}

.li-title:not(:first-child) {
  margin-top: 1em;
}


.contact {
  /* margin: 10% 30% 10% 30%; */
  margin: 2.5em 40% 2.5em 40%;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: xx-large;
  opacity: 0.6;
}

.contact a:link {
  /* color: var(--color3); */
  text-decoration: none;
}

.contact a:visited {
  color: var(--color3);
}

.contact a:hover {
  color: var(--color1);
}

.contact a:active {
  color: var(--color3);
}

.no-line {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 750px) {
.block {

  padding: 2em;
  width: 100%;
  }
}


@media only screen and (min-width: 750px) {

  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .title-name {
    margin: 0 0.1em 0 0.1em;
  }

  .blocks {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }


  .block {
    /* width: 25%; */
    height: 7em;

  }

  .icon {
    margin: 10em 2em 0 2em;
    cursor: pointer;
  }


}

@media only screen and (min-width: 1000px) {

.hospitality {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  /* justify-content: center; */
  /* justify-content: space-around; */
}

.hospitality-section {
  display: flex;
  flex-direction: column;
  width: 33%;
  position: relative;
}

}